// bower:scss
// endbower

$grayColor: rgb(204, 204, 204); //rgb(153, 153, 153);
$lightGrayColor: rgb(204, 204, 204);
$redColor: rgb(252, 152, 152);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

}

$cellSize : 200px;

.works-grid {
  margin-left: -10px;
  margin-top: 20px;
  background-color: transparent;
  .picture-item {
    
    padding: 10px;
    background-color: transparent;
    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
    }

    img {
      width: $cellSize;
      height: $cellSize;
    }
    &:hover .desc {
      display: block;
    }

    .desc {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(#000000, 0.3);
      left:0;
      top:0;
      text-align: center;
      padding-top: 50%;
      color: white;
      text-decoration: none;
      font-variant: small-caps;
      letter-spacing: 1.5pt;
    }
  }
}

.work {
  .work-title {
    font-size: 11pt;
    letter-spacing: 1.7pt;
  }


  .work-desc {
    letter-spacing: 1pt;
    padding-top: 20px;
    color: $lightGrayColor;
    font-size: 10pt;
  }

  .work-item {
    img, iframe {
      max-width: 100%;
    }
    text-align: left;
    padding-top: 50px;
  }
}

.navigation {
  color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  a {
    color: black;
    margin-right: 20px;
  }

  .scroll-hint {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 0;
    img {
      width: 13px;
    }
    > span {
      letter-spacing: 1pt;
      font-size: 10px;
      margin-right: -5px;
      color: $redColor;
      transform: rotate(270deg);
      display: inline-block;
    }
  }
}

.btn-clear, .btn-clear:focus, .btn-clear:active, .btn-clear:active:focus {
  background: 0;
  border: 0;
  outline: 0;
}

.social {
  ul {
    color: black;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    list-style-type: none;
    
    li {
      display: inline;
      margin-left: 6px;

      a {
        color: #CCCCCC ! important;
        font-variant: small-caps;
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

  }
}

.download_resume{

color:#A7A9AC;
font-size:0.8em! important;
font-variant: small-caps;
position:absolute;
top: 1%;
right:1%;

}

.navbar-default {
  background: 0;
  border: 0;

  .navbar-collapse {
    border: 0;
    padding-right: 0px;
  }

  .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    i {
      font-size: 28px;
    }
    &:focus {
      background: 0;
    }
  }

  .navbar-header {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    position: relative;

    .logo {
      position: absolute;
      top: 0px;
      left: 50%;
      margin-left: -75px;
    }
  }
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.container {
  position: relative;
  padding: 10px;
}

.work-pagination-wrapper {
  position: absolute;
  right: 20px;
  top: 200pt;
  z-index: 30;
}



span.line_wrap {
    position:relative;
    display: block;        
}
span.line {
    display:block;
    position:absolute;
    left:0;
    top:50%;
    width:0;
    border-top:2px solid black;
    -webkit-transition: width 0.5s ease-in;
}
span.line_wrap:hover span.line, li.selected span.line {
    width:100%;    
}
span.line_wrap:hover span.line {
  border-top:2px solid $redColor;
}

.about-me {
  > span {
    letter-spacing: 2.1pt;
  }
  position: relative;
  padding-top: 65pt;
  padding-bottom: 20px;
  text-align: center;
  height: 170pt;
  font-size: 11pt;
}

.name-and-social {
  > span {
    display: block;
    height: 13pt;
    letter-spacing: 2pt;
    font-size: 12px;
  }
  .black {
    color: black;
  }
  position: absolute;
  left: 0;
  top: 71pt;
  font-size: 10pt;
  text-align: left;
  color: $grayColor;
  ul.social-icons {
    margin-top: 14px;
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      color: $grayColor;
      padding: 0;
      margin-right: 5px;
      a {
        font-size: 18px;
        color: $grayColor;
      }
    }
  }
}

.work-index {
  list-style: none;
  padding: 0;
  width: 20px;
  display: block;
  padding-left: 10px;
  text-align: center;
  li {
    text-align: center;
    width: 20px;
    display: inline-block;
    text-align: center;
    a {
      font-size: 10pt;
      padding-bottom: 12px;
      display: block;
      font-size: 10pt;
      color: $lightGrayColor;
      text-decoration: none;
    }
    &.selected {
      a {
        color: black;
      }
    }
    a:hover {
      color: black;
    }
    a.home {
      background-image: url(../images/home_grey.png);
      background-size: 14px;
      background-repeat: no-repeat;
      height: 20px;
      background-position-x: 3px;
    }
    a.home.selected, a.home:hover {
      background-image: url(../images/home_icon.png);
    }
  }

}


.navigation {
  .ion-ios-arrow-thin-right, .ion-ios-arrow-thin-left, .ion-ios-close-empty {
    color: black;
    font-size: 14pt;
  }
  .prev, .next {
    margin-left: 50pt;
  }
  a {
    text-decoration: none;
  }
}



.filter-options {
  text-align: center;
  color: $grayColor;
  a {
    color: $grayColor;
    &.selected {
      color: black;
    }
    &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

a, a:hover {
  color: black;
}

/*
@media (max-width: 710px) {
  .in-main .work-pagination-wrapper {
    left: 340px;
  }
}

@media (min-width: 711px) and (max-width: 1200px) {
  .in-main .work-pagination-wrapper {
    left: 680px;
  }
}

@media (min-width: 1201px){
  .in-main .work-pagination-wrapper {
    left: 1040px;
  }
}
*/


@media (max-width: 700px) {
  .work-pagination-wrapper {
    display: none;
  }
  .scroll-hint {
    display: none;
  }

  .about-me {
    text-align: left;
    padding-top: 40pt;
  }

}

@media (max-width: 420px) {
.works-grid {
 .picture-item {
    img {
      width: 200px;
      height: 200px;
    }
  }
 }
}

.footer {
  border:0;
  background:0;
  .copyright {
    font-size: 11px;
    color: $grayColor;
  }
} 

.container {
    /*width: 100% ! important;*/
    max-width: 950px;
    padding-left: 40px;
    padding-right: 40px;
}

.work-meta {
  div {
    color: $grayColor;
  }
  .title {
    color: #333;
    padding-top: 20px;
  }
}

.work-time, .work-type {
  max-width: 170px;
}

.work-position {
  margin-bottom: 20px;
}

.resume-title {
  margin-bottom: 40px;
}

.resume {
  position: relative;
  .dates {
    color: $grayColor;
  }
  i {
    color: black;
    font-size: 14pt;
  }
  .red-circle {
    position: absolute;
    left: -20px;
    top: -50px;
    .ion-record {
      color: red;
      font-size: 5pt;
    }
  }
}

.resume-download {
  display: inline;
  margin-top: 10px;
  border-bottom: 1px solid #000;
  a:hover {
    text-decoration:none;
  }
  a {
    text-decoration:none;
  }
  padding-bottom: 0px;
}

.resume-link {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position: absolute;
    left: -60px;
    top: 35px;
    a {
      color: $grayColor;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      font-variant: small-caps;
      letter-spacing: 1.5pt;
    }
    color: $grayColor;


    span.line_wrap:hover span.line {
      border-top:2px solid $redColor;
    }

    span.line_wrap span.line {
      border-top:2px solid $grayColor;
    }
}
