<div class='work-pagination-wrapper'>
    <ul class="work-index">
       <li>
         <a ng-href="/#/" class='home' ng:class="{true:'selected', false:''}[!work]">
            <span class='line_wrap'><span class='line'></span><i class="icon ion-home"></i></span>
         </a>
       </li>
       <li ng-repeat="iterWork in portfolio.works" ng:class="{true:'selected', false:''}[iterWork.id==work.id]">
             <a ng-href="/#/work/{{iterWork.id}}">
                <span class='line_wrap'><span class='line'></span>{{$index + 1}}</span>
            </a>
       </li>
    </ul>
</div>
