<div ng-include="'views/pagination.html'"></div>

<div class="navigation">
    <a ng-href="/#/">
        <i class='icon ion-ios-close-empty'></i>
    </a>
    <a class='prev' ng-if="prev" ng-href="/#/work/{{prev}}"><i class="icon ion-ios-arrow-thin-left"></i></a>
    <a class='next' ng-if="next" ng-href="/#/work/{{next}}"><i class="icon ion-ios-arrow-thin-right"></i></a>
    <span class='scroll-hint'>
        <span>scroll</span>
        <img src='images/mouse.png' alt=''/>
    </span>
</div>

<div class="work">
    <div class="row">
        <div class="work-title col-md-6">
            {{work.title}}
        </div>
    </div>
    <div class="row">
        <div class="work-desc col-md-6 col-lg-6 col-xs-12 col-sm-8" ng-bind-html="work.description">
        </div>
    </div>

    <div class="work-items">
        <div class="work-item" ng-repeat="item in work.attachments">
            <img ng-if="item.image" ng-src="{{item.image}}" />
            <span ng-if="item.text">
              {{item.text}}
            </span>
            <span ng-if="item.view">
              <ng-include src="item.view" />
            </span>
            <span ng-if="item.html" ng-bind-html="item.html">
            </span>
        </div>
    </div>

</div>